$player-1-colour: #72aee6
$player-1-flip-colour: #E69008

$player-2-colour: #CC312D
$player-2-flip-colour: #13CC4E

$turn-colour: #53ca56

=shadow($level: 1, $background: black)
  @if $level == -1
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba($background,0.24)
  @if $level == 1
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba($background,0.24)
  @else if $level == 2
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba($background,0.23)
  @else if $level == 3
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba($background,0.23)
  @else if $level == 4
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba($background,0.22)
  @else if $level == 5
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba($background,0.22)

.navbar
  .navbar-brand
    .logo
      height: 30px

.game-board
  display: flex
  flex-wrap: wrap
  border-radius: 4px
  &.player-1
    background: lighten($player-1-colour, 20%)
    border: 1px solid $player-1-colour
    .tile-slot
      background: darken($player-1-colour, 20%)
      border: 1px solid darken($player-1-colour, 30%)
      .tile
        background: $player-1-colour
        border: 1px solid darken($player-1-colour, 30%)
      .flip-button
        background: $player-1-flip-colour
        &:after
          border-color: $player-1-flip-colour $player-1-flip-colour transparent transparent
        &:before
          border-color: $player-1-flip-colour $player-1-flip-colour transparent transparent
  &.player-2
    background: lighten($player-2-colour, 20%)
    border: 1px solid $player-2-colour
    .tile-slot
      background: darken($player-2-colour, 20%)
      border: 1px solid darken($player-2-colour, 30%)
      .tile
        background: $player-2-colour
        border: 1px solid darken($player-2-colour, 30%)
      .flip-button
        background: $player-2-flip-colour
        &:after
          border-color: $player-2-flip-colour $player-2-flip-colour transparent transparent
        &:before
          border-color: $player-2-flip-colour $player-2-flip-colour transparent transparent

  .tile-slot
    +shadow(-1)
    border-radius: 4px
    margin: 10px
    position: relative
    flex: 1
    min-width: 100px
    flex-basis: calc(25% - 20px)
    .shadow-tile
      width: calc(100% - 10px)
      height: calc(100% - 10px)
      padding: 5px
      border-radius: 4px
      margin: 5px
      position: absolute
      img
        filter: grayscale(90%)
        opacity: 0.6
    .tile
      width: calc(100% - 10px)
      height: calc(100% - 10px)
      padding: 0px
      border-radius: 4px
      margin: 5px
      transition: transform .5s
      transform-origin: bottom
      transform: rotateX(0deg)
      +shadow(1)
      &.flipped
        transform: rotateX(90deg)
        +shadow(3)
    .tile, .shadow-tile
      img
        width: 100%
        border-radius: 4px
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

      .name
        display: block
        text-align: center
        font-size: 13px
        margin-top: 10px
        margin-bottom: 10px
        color: #ffffff
      .bio
        display: block
        text-align: justify
        margin-top: 10px
        background: #ffffff
        border-radius: 4px
        padding: 4px 14px
    .flip-button
      position: absolute
      top: 6px
      right: 6px
      color: #ffffff
      padding: 0
      width: 20px
      height: 20px
      border-radius: 0
      border-top-right-radius: 4px
      cursor: pointer
      &:after
        content: " "
        border-width: 10px
        border-style: solid
        position: absolute
        top: calc(100% + 1px)
        right: -1px

      &:before
        content: " "
        border-width: 10px
        border-style: solid
        position: absolute
        top: -1px
        left: calc(-100% - 3px)
        width: 0
        height: 0
      &.flipped
        background: #cccccc
        &:after
          border-color: #cccccc #cccccc transparent transparent
        &:before
          border-color: #cccccc #cccccc transparent transparent
        .fa
          transform: scaleX(-1)
      input
        position: absolute
        clip: rect(0,0,0,0)
        pointer-events: none
      .fa
        transform: rotate(-45deg)
.you
  .is-turn
    border: 1px solid darken($turn-colour, 30%)
    border-radius: 4px
    background: $turn-colour
  .selection
      position: relative
      padding: 10px
      border-radius: 4px
      margin: 15px
      +shadow(2)
      img
        width: 100%
        border-radius: 6px
      .name
        display: block
        text-align: center
        font-size: 20px
        margin-top: 10px
        color: #ffffff
      .bio
        display: block
        text-align: justify
        margin-top: 10px
        background: #ffffff
        border-radius: 4px
        padding: 4px 14px
  &.player-1
    .selection
      background: $player-2-colour
      border: 1px solid darken($player-2-colour, 30%)
  &.player-2
    .selection
      background: $player-1-colour
      border: 1px solid darken($player-1-colour, 30%)
.opponent
  .selection
    position: relative
    padding: 10px
    border-radius: 4px
    margin: 15px
    +shadow(2)
  .name
    margin: 10px
    text-align: center
    font-size: 18px


  &.player-1
    .selection
      background: $player-1-colour
      border: 1px solid darken($player-1-colour, 30%)
      .colour
        fill: $player-2-colour
        fill-rule: evenodd

  &.player-2
    .selection
      background: $player-2-colour
      border: 1px solid darken($player-2-colour, 30%)
      .colour
        fill: $player-1-colour
        fill-rule: evenodd
.opponent, .you
  border: 1px solid #cccccc
  border-radius: 4px
  background: #e1e1e1
  margin-bottom: 15px

  .player-title
    text-align: center
    display: block
    font-size: 20px
    margin: 10px 0
    line-height: 18px
    font-weight: bold
  &.is-turn
    border: 1px solid darken($turn-colour, 30%)
    border-radius: 4px
    background: $turn-colour
.players
  display: flex
  flex-wrap: wrap
  .opponent, .you
    margin: 15px
    flex-basis: calc(50% - 30px)
    flex-shrink: 1

.question
  .chat
    margin-bottom: 10px
    padding: 5px
    .question, .answer
      border-radius: 4px
      padding: 2px 12px
      float: left
      clear: both
      margin-bottom: 15px
      &.player-1
        background: $player-1-colour
      &.player-2
        background: $player-2-colour
      &.asking
        float: right
      &.asking.player-1
        background: $player-2-colour
      &.asking.player-2
        background: $player-1-colour
  .turn-message
    clear: both
    display: block
.win-screen
  text-align: center
  .btn-primary
    margin: auto
  h3
    font-size: 60px
    text-align: center
@media (min-width: 768px)
  .players
    display: block
    .opponent, .you
      width: 100%
      margin: 0
      margin-bottom: 15px
@media (min-width: 1200px)
  .game-board
    .tile-slot
      flex-basis: calc(12.5% - 20px)
